{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "تایید نسخه" context "تایید" %} — {{ block.super }}{% endblock %}

{#{% block meta_tags %}#}
{#  <meta name="robots" content="nofollow">#}
{#{% endblock meta_tags %}#}


{% block content %}

{% if medicine_list %}
    <div class="col-lg-7 login col-md-12 login__form" style="margin:2em auto 0; text-align:center; ">
      <h2> Prescription items</h2>
      <ul style="margin-top: 2em; list-style-type:none; padding-left: 0;">
      {% for medicine in medicine_list %}
      <li>{{ medicine.name }} - {{ medicine.price.amount}} dollars in group: {{ medicine.category}}<hr></li>

      {% endfor %}
      </ul>
      <input type=button value="Previous Page" onClick="javascript:history.go(-1);" class=".btn-warning">
    </div>
{% else %}
    <p>No Medicines are available.</p>
{% endif %}

{% endblock %}
