{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "نسخه" context "نسخه" %} — {{ block.super }}{% endblock %}

{#{% block meta_tags %}#}
{#  <meta name="robots" content="nofollow">#}
{#{% endblock meta_tags %}#}

{% block content %}
  <div class="col-lg-7 col-sm-12 m-auto">
    <div class="login">
{#      <div class="col-md-6 login__register">#}
{#        <div class="login__register-link">#}
{#          <h3>{% trans "Already have an account?" context "Signup form secondary title" %}</h3>#}
{#          <img class="signup-img lazyload lazypreload" data-src="{% static 'images/login-bg.png' %}"#}
{#            srcset="{% static 'images/login-bg.png' %} 1x, {% static 'images/login-bg2x.png' %} 2x">#}
{#          <p><a rel="nofollow" href="{% url 'account:login' %}" class="btn secondary narrow">#}
{#            {% trans "Log in" context "Signup form secondary action" %}#}
{#          </a></p>#}
{#        </div>#}
{#      </div>#}
{#       {% if form.errors %}#}
{#        <p>نسخه معتبر نیست</p>#}
{#        {% for errors in form.errors %}#}
{#            {{ errors }}#}
{#        {% endfor %}#}
{#    {% endif %}#}
      <div class="col-md-12 login__form">
        <form method="post" style="height:150px;" action="{% url 'page:prescription_add' %}">
          <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if REDIRECT_FIELD_VALUE %}
              <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}"/>
            {% endif %}
          </fieldset>

          <button style="float:left; margin-right:10px;" class="btn btn-success btn-md" name="view" value="view">
            {% trans "View Prescrition Items" context "Signup form primary action" %}
          </button>

          <button style="float:left"  type="submit" class="btn btn-primary btn-md" name="submit" value="submit">
            {% trans "Add to Cart" context "Signup form primary action" %}
          </button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
