{% extends "base.html" %}
{% load i18n %}

{% block content %}
{#  <div class="home">#}
{#    <div class="row">#}
{#      <div class="col-sm-12 home__block1">#}
{#        <div class="home--square">#}
{#          <div class="home--content">#}
{#            <div class="home--content-wrapper">#}
{#              <div class="home--content-inner">#}
{#                <h1>{% trans "Promo &amp; Sale" context "Homepage title" %}</h1>#}
{#                <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>#}
{#                  <a class="btn btn-secondary home__button" href="#">#}
{#                    {% trans "Shop now" context "Homepage action" %}#}
{#                  </a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <div class="row">#}
{#      <div class="col-sm-12 col-md-6 home__block2">#}
{#        <div class="home--square">#}
{#          <div class="home--content">#}
{#            <div class="home--content-wrapper">#}
{#              <div class="home--content-inner">#}
{#                <h1>{% trans "Size &amp; Colours" context "Homepage title" %}</h1>#}
{#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-sm-12 col-md-6 home__block3">#}
{#        <div class="home--square">#}
{#          <div class="home--content">#}
{#            <div class="home--content-wrapper">#}
{#              <div class="home--content-inner">#}
{#                <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>#}
{#                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
    <div class="home__featured">
      <h2 class="text-center">{% trans "محصولات" context "Homepage title" %}</h2>
      <div class="row">
        {% include "product/_items.html" %}
      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
