{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}
    <style>
    body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
    </style>

<header>
<br>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://www.askwallpapers.com/pic/201501/1920x1080/askwallpapers.com-2610.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://img00.deviantart.net/0b33/i/2013/299/7/3/pharmacy_by_realnam-d6rvlo6.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://i.pinimg.com/originals/ff/c6/59/ffc6598f9b73d9500e428bdce5c5559a.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <div class="home__featured">
      <h2 class="text-center">{% trans "Dr. Dehghan Pharmacy" context "Homepage title" %}</h2>
{#      <div class="row">#}
{#        {% include "product/_items.html" %}#}
{#      </div>#}
    <hr style="width: 70%; , class= text-right">

        <p class="text-right">
امکاناتی فراهم می آورد تا بازدید کنندگان آن بتوانند حضور مجازی در داروخانه دکتر دهقان را تجربه نمایند و با شرایطی مناسب تر قادر باشند انواع محصولات داروخانه را مشاهده نموده ، از قیمت آن مطلع گردیده ، توضیحات آن را مطالعه کرده و کالای مورد نظر خود را انتخاب نمایند ، سپس آن را سفارش داده و در محل مورد نظر خود دریافت کنند.
    </p>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
