<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load shop %}
{% load placeholder %}
{% load translate_url from urls %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js" data-shipping-options-url="{% url 'cart:shipping-options' %}" data-cart-summary-url="{% url 'cart:cart-summary' %}">
<head>
  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Saleor">
    <meta name="theme-color" content="#333333">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="og:type" content="website">
    {% get_available_languages as LANGUAGES %}
    {% for lang_code, language_name in LANGUAGES %}
      <link rel="alternate" hreflang="{{ lang_code }}" href="{% translate_url url=request.path lang_code=lang_code %}" />
    {% endfor %}
  {% endblock meta %}

  {% include 'favicon.html' %}
  {% render_bundle 'storefront' 'css' attrs='async' %}

  {% block stylesheet %}{% endblock stylesheet %}

  {% block meta_tags %}
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endblock meta_tags %}

  <link rel="manifest" href="{% url "manifest" %}" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
{% block header %}
  <header class="navbar" role="navigation">
    <div class="navbar__login container-fluid {% if user.is_impersonate %} bg-warning{% endif %}">
      <div class=" d-none d-md-block container">
      <div class="row">
        <div class="col-6">
          <p class="text-left">{{ site.settings.header_text }}</p>
        </div>
        <div class="col-6">
          <ul class="float-right">
            {% include "_language_picker.html" %}
            {% if user.is_authenticated %}
              {% if user.is_staff or request.impersonator.is_staff %}
                <li>
                  <a href="{% url "dashboard:index" %}" target="_blank" rel="noopener">
                    {% trans "Dashboard" context "Main navigation item" %}
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{% url "account:details" %}">
                  {% trans "Your account" context "Main navigation item" %}</a>
              </li>
              {% if user.is_impersonate %}
                <li>
                  <a href="{% url "impersonate-stop" %}">
                    {% trans 'Stop impersonating' context 'Main navigation item' %}
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{% url "account:logout" %}">
                    {% trans "Log out" context "Main navigation item" %}</a>
                </li>
              {% endif %}
            {% else %}
              <li>
                <a rel="nofollow" href="{% url "account:signup" %}">
                  {% trans "Register" context "Main navigation item" %}</a>
              </li>
              <li>
                <a rel="nofollow" href="{% url "account:login" %}">
                  {% trans "Log in" context "Main navigation item" %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="navbar__brand container-fluid d-block">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-8 col-md-4 navbar__logo">
            <div class="menu-icon-mobile d-md-none navbar__brand__menu-toggle closed open">
              <svg data-src="{% static "images/mobile-menu.svg" %}" width="28px" height="20px"/>
              <span>{% trans "menu" context "Hamburger button text" %}</span>
            </div>
            <a href="{% url 'home' %}">
              <svg data-src="{% static "images/logo.svg" %}" height="38px" width="176px"/>
            </a>
          </div>
          <div class="col-2 col-md-4 navbar__search static">
            {% if SEARCH_IS_ENABLED %}
              <div class="d-md-none mobile-search-icon">
                <svg data-src="{% static "images/search.svg" %}" width="30" height="30"/>
              </div>
              <form class="form-inline search-form" action="{% url "search:search" %}">
                <div class="mobile-close-search d-md-none">
                  <svg data-src="{% static "images/close.svg" %}" width="30" height="30"/>
                </div>
                <input class="form-control" type="text" name="q"
                       value="{% if query %}{{ query }}{% endif %}"
                       placeholder="{% trans "Search for product" %}"
                       required>
                <button class="btn btn-link" type="submit">
                  <svg data-src="{% static "images/search.svg" %}" width="30" height="30"/>
                </button>
              </form>
            {% endif %}
          </div>
          <div class="col-2 col-md-4">
{#            <div class="navbar__brand__cart float-right">#}
{#              <a rel="nofollow" class="cart__icon" href="{% url "cart:index" %}">#}
{#                <span class="cart-label d-none d-md-inline-block">#}
{#                  {% trans "Your Cart" context "Main navigation item" %}#}
{#                </span>#}
{#                <div class="navbar__brand__cart__icon">#}
{#                  <svg data-src="{% static "images/cart.svg" %}" width="35" height="30"/>#}
{#                </div>#}
{#                <span class="badge {% if not cart_counter %}empty{% endif %}">#}
{#                  {% if cart_counter %}#}
{#                    {{ cart_counter }}#}
{#                  {% else %}#}
{#                    0#}
{#                  {% endif %}#}
{#                </span>#}
{#              </a>#}
{#              <div class="cart-dropdown d-none">#}
{#                {% include 'cart_dropdown.html' %}#}
{#              </div>#}
{#            </div>#}
          </div>
        </div>
      </div>
    </div>
    <div class="navbar__menu container d-block">
      <nav class="navigation">
        {% menu site_menu=site.settings.top_menu horizontal=True %}
      </nav>
    </div>
  </header>
{% endblock %}
<div class="container maincontent">
  {% block topcontent %}{% endblock topcontent %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block breadcrumb %}
  {% endblock breadcrumb %}
  {% block content %}
  {% endblock content %}
</div>
{#{% block footer %}#}
{#  <footer class="footer">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-md-3">#}
{#          <a href="{% url 'home' %}" class="footer__logo">#}
{#            <svg data-src="{% static "images/logo.svg" %}" height="38px" width="176px"/>#}
{#          </a>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6">#}
{#          {% menu site_menu=site.settings.bottom_menu %}#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-6">#}
{#          <ul>#}
{#            <li>#}
{#              <a rel="nofollow" href="{% url "cart:index" %}">#}
{#                {% trans "Your Cart" context "Main navigation item" %}#}
{#              </a>#}
{#            </li>#}
{#            {% if user.is_authenticated %}#}
{#              {% if user.is_staff %}#}
{#                <li>#}
{#                  <a href="{% url "dashboard:index" %}" target="_blank" rel="noopener">#}
{#                    {% trans "Dashboard" context "Main navigation item" %}#}
{#                  </a>#}
{#                </li>#}
{#                <li>#}
{#                  <a href="{% url "styleguide" %}" target="_blank">#}
{#                    {% trans "Style guide" context "Main navigation item" %}#}
{#                  </a>#}
{#                </li>#}
{#              {% endif %}#}
{#              <li>#}
{#                <a href="{% url "account:details" %}">#}
{#                  {% trans "Your account" context "Main navigation item" %}#}
{#                </a>#}
{#              </li>#}
{#              {% if user.is_impersonate %}#}
{#                <li>#}
{#                  <a href="{% url "impersonate-stop" %}">#}
{#                    {% trans 'Stop impersonating' context 'Main navigation item' %}#}
{#                  </a>#}
{#                </li>#}
{#              {% else %}#}
{#                <li>#}
{#                  <a href="{% url "account:logout" %}">#}
{#                    {% trans "Log out" context "Main navigation item" %}</a>#}
{#                </li>#}
{#              {% endif %}#}
{#            {% else %}#}
{#              <li>#}
{#                <a rel="nofollow" href="{% url "account:signup" %}">#}
{#                  {% trans "Register" context "Main navigation item" %}#}
{#                </a>#}
{#              </li>#}
{#              <li>#}
{#                <a rel="nofollow" href="{% url "account:login" %}">#}
{#                  {% trans "Log in" context "Main navigation item" %}#}
{#                </a>#}
{#              </li>#}
{#            {% endif %}#}
{#          </ul>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-12">#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://www.facebook.com/mirumeelabs/">#}
{#            <svg data-src="{% static "images/facebook-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://github.com/mirumee/saleor">#}
{#            <svg data-src="{% static "images/github-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://twitter.com/getsaleor">#}
{#            <svg data-src="{% static "images/twitter-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://plus.google.com/+Mirumee">#}
{#            <svg data-src="{% static "images/google-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://www.meetup.com/Mirumee-Talks/">#}
{#            <svg data-src="{% static "images/meetup-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://linkedin.com/company/mirumee-software">#}
{#            <svg data-src="{% static "images/linkedin-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://dribbble.com/mirumee">#}
{#            <svg data-src="{% static "images/dribbble-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#          <a target="_blank" rel="noopener" class="social-footer" href="https://www.instagram.com/explore/tags/mirumee/">#}
{#            <svg data-src="{% static "images/instagram-logo.svg" %}" width="45px" height="45px"/>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </footer>#}
{#{% endblock %}#}
{% block footer_scripts %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  {% render_bundle 'storefront' 'js' %}
{% endblock footer_scripts %}
</body>
</html>
