
{# We display language picker only if there're languages to pick from #}
    <li>
        <div class="language-picker dropdown show">
            <a class="dropdown-toggle dropdown-link" href="" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Medicines</a>
            <div class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuLink">
                    <input name="next" type="hidden" value="/">
                    {# Language code will be dynamically appended to the form via JS due to select-box styling nature #}
                        <a href = "{% url 'main_page' %}" class="dropdown-item language-pick dropdown-link{% if language.code == LANGUAGE_CODE %} active{% endif %}"> Prescrition-free medicines </a>
                        <a href="{% url 'page:prescription_add' %}"  class="dropdown-item language-pick dropdown-link{% if language.code == LANGUAGE_CODE %} active{% endif %}"> Prescrition</a>

            </div>
        </div>
    </li>
